<% provide(:title, "Top") %>
<div class="center jumbotron">
  <h1>Nagomi</h1>
  <p>お客様から依頼された自宅清掃の予約管理・顧客登録・編集、情報発信をすることができます。</p>
  <%= link_to "Sign up", "#", class: "btn btn-lg btn-primary" %>
</div>