<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.name %>様、この度は、Nagomiをご利用いただきありがとうございます。</h1>
      <p>
      Nagomiへのご予約内容が確定いたしました。
      アカウントのユーザー名: <%= @user.name %>.<br>
    </p>
    <p>
      このサイトにログインするには、<%= @url %>をクリックしてください。
    </p>
    <p>ご入会ありがとうございます。どうぞお楽しみくださいませ。</p>
  </body>
</html>