<h1 class="work-user-show">一部屋のお掃除</h1>
  <div class="work-user-show-container">
    <div class="show-container">
      <div class="show-image">
        <%= image_tag "show_room1.jpg" %>
          <div class="note">
            <p>写真はイメージです。</p>
          </div>
      </div>
      <div class="charge">
        <p class="main-price">価格</p>
        <p class="price-bord-6"><span class="mgr-10">6畳以下</span>¥ 10,000&ensp;(税抜)&emsp;</p>
        <p class="price-bord-6"><span class="mgr-10">8畳以上</span>¥ 15,000&ensp;(税抜)&emsp;</p>
        <h2 div class="ribbon">主な作業内容</h2>
        <ul>
          <li class="indent"><i class="far fa-check-square"></i>&nbsp;	床の清掃（フローリング、畳の水拭き）</li>
          <li class="indent"><i class="far fa-check-square"></i>&nbsp;	壁紙の清掃（主に水拭き、頑固な汚れがある場合はオプションとなります。）</li>
          <li class="indent"><i class="far fa-check-square"></i>&nbsp; 窓ガラスの清掃（専用洗剤による清掃、頑固な汚れがある場合はオプションとなります。）</li>
          <li class="indent"><i class="far fa-check-square"></i>&nbsp; 家具がある場合は別途費用がかかります。お問い合わせください。</li>
        </ul>
      </div>
    </div>
  <h2 class="menue">オプションメニュー</h2>
    <div class="option"> 
      <div class="name-box">
        <p class="box-title">（例）フローリングワックス</p>
        <hr class="title-bottom">
        <p class="price">価格</p>
        <p class="price-bord">¥ 3,000&ensp;(税抜)&emsp;/&ensp;1帖
        <p class="price-comment">フロアクリーニングは汚れの除去、ワックス処理などを行い、美しい床をキープ。（引用）</p>
      </div>
      <div class="name-box">
        <p class="box-title">（例）ガラス、サッシクリーニング</p>
        <hr class="title-bottom">
        <p class="price">価格</p>
        <p class="price-bord">¥ 0,000&ensp;(税抜)&emsp;/&ensp;1式
        <p class="price-comment">ガラスに付いた手アカやヤニ、砂ボコリまでキレイにします。サッシの細かい汚れもお任せください。（引用）</p>
      </div>
      <div class="name-box">
        <p class="box-title">（例）壁紙クリーニング</p>
        <hr class="title-bottom">
        <p class="price">価格</p>
        <p class="price-bord">¥ 0,000&ensp;(税抜)&emsp;/&ensp;1式
        <p class="price-comment">ヤニ・手アカ、ホコリなどのしつこい汚れも、クリーニングで徹底除去できます。（引用）</p>
      </div>
    </div>
  </div>

  <h1 class="work-user-show">お部屋まるごとお掃除</h1>
  <div class="work-user-one-room-container">
    <div class="show-container">
      <div class="show-image">
        <%= image_tag "one-room.jpg" %>
          <div class="note">
            <p>写真はイメージです。</p>
          </div>
      </div>
      <div class="charge-one-room">
        <p class="main-price">価格</p>
        <h2 class="cargo">荷物がある状態</h2>
        <p class="price-bord-one-room"><span class="mgr-10">マンション・アパート1K/1DK</span>¥ 32,000&ensp;(税抜)&emsp;</p>
        <p class="price-bord-one-room"><span class="mgr-10">マンション・アパート1LDK/2DK</span>¥ 42,000&ensp;(税抜)&emsp;</p>
        <p class="price-bord-one-room"><span class="mgr-10">マンション・アパート2LDK/3DK</span>¥ 52,000&ensp;(税抜)&emsp;</p>
        <p class="price-bord-one-room"><span class="mgr-10">マンション・アパート3LDK/4DK</span>¥ 62,000&ensp;(税抜)&emsp;</p>
        <p class="price-bord-one-room"><span class="mgr-10">マンション・アパート4LDK/5DK</span>¥ 72,000&ensp;(税抜)&emsp;</p>
        <p class="price-bord-one-room"><span class="mgr-10">一戸建て2LDK/3DK</span>¥ 62,000&ensp;(税抜)&emsp;</p>
        <p class="price-bord-one-room"><span class="mgr-10">一戸建て3LDK/4DK</span>¥ 72,000&ensp;(税抜)&emsp;</p>
        <p class="price-bord-one-room"><span class="mgr-10">一戸建て4LDK/5DK</span>¥ 82,000&ensp;(税抜)&emsp;</p>
        <h2 class="non-cargo">荷物が無い状態</h2>
        <p class="price-bord-one-room"><span class="mgr-10">マンション・アパート1K/1DK</span>¥ 22,000&ensp;(税抜)&emsp;</p>
        <p class="price-bord-one-room"><span class="mgr-10">マンション・アパート1LDK/2DK</span>¥ 32,000&ensp;(税抜)&emsp;</p>
        <p class="price-bord-one-room"><span class="mgr-10">マンション・アパート2LDK/3DK</span>¥ 42,000&ensp;(税抜)&emsp;</p>
        <p class="price-bord-one-room"><span class="mgr-10">マンション・アパート3LDK/4DK</span>¥ 52,000&ensp;(税抜)&emsp;</p>
        <p class="price-bord-one-room"><span class="mgr-10">マンション・アパート4LDK/5DK</span>¥ 62,000&ensp;(税抜)&emsp;</p>
        <p class="price-bord-one-room"><span class="mgr-10">一戸建て2LDK/3DK</span>¥ 52,000&ensp;(税抜)&emsp;</p>
        <p class="price-bord-one-room"><span class="mgr-10">一戸建て3LDK/4DK</span>¥ 62,000&ensp;(税抜)&emsp;</p>
        <p class="price-bord-one-room"><span class="mgr-10">一戸建て4LDK/5DK</span>¥ 72,000&ensp;(税抜)&emsp;</p>
      </div>
    </div>
    <h2 div class="ribbon">主な作業内容</h2>
        <ul>
          <li class="indent"><i class="far fa-check-square"></i>&nbsp;	床の清掃（フローリング、畳の水拭き）</li>
          <li class="indent"><i class="far fa-check-square"></i>&nbsp;	壁紙の清掃（主に水拭き、頑固な汚れがある場合はオプションとなります。）</li>
          <li class="indent"><i class="far fa-check-square"></i>&nbsp; 窓ガラスの清掃（専用洗剤による清掃、頑固な汚れがある場合はオプションとなります。）</li>
          <li class="indent"><i class="far fa-check-square"></i>&nbsp; 家具がある場合は別途費用がかかります。お問い合わせください。</li>
        </ul>
  </div>