<h1 class="work-user-show">水まわりの掃除</h1>
  <div class="work-user-show-container">
    <div class="show-container">
      <div class="show-image">
        <%= image_tag "water_section.jpg"%>
          <div class="note">
            <p>写真はイメージです。</p>
          </div>
      </div>
      <div class="charge">
        <p class="main-price">価格</p>
        <p class="price-bord-6"><span class="mgr-10">浴槽クリーニング</span>¥ 17,000&ensp;(税抜)&emsp;</p>
        <h2 class="ribbon">主な作業内容</h2>
        <ul>
          <li class="indent"><i class="far fa-check-square"></i>&nbsp; 浴槽、排水口、壁面パネル、床面、水栓金具、シャンプー台</li>
          <li class="indent"><i class="far fa-check-square"></i>&nbsp;	希望があればボディーソープやシャンプーの補充まで行います。</li>
        </ul>
      </div>
    </div>
  <h2 class="menue">オプションメニュー</h2>
    <div class="option"> 
      <div class="name-box">
        <p class="box-title">トイレクリーニング</p>
        <hr class="title-bottom">
        <p class="price">価格</p>
        <p class="price-bord">¥ 10,000&ensp;(税抜)&emsp;
        <p class="price-comment">便器、便座、タンク周辺、壁面、床などの汚れや、カビ、ホコリの除去。</p>
      </div>
      <div class="name-box">
        <p class="box-title">洗面所クリーニング</p>
        <hr class="title-bottom">
        <p class="price">価格</p>
        <p class="price-bord">¥ 10,000&ensp;(税抜)&emsp;
        <p class="price-comment">洗面ボウル、鏡、水栓金具などの汚れや、カビ、ホコリの除去、整理整頓。</p>
      </div>
      <div class="name-box">
        <p class="box-title">ーーーーーーー</p>
        <hr class="title-bottom">
        <p class="price">価格</p>
        <p class="price-bord">¥ 0,000&ensp;(税抜)&emsp;
        <p class="price-comment"></p>
      </div>
    </div>
     <h2 class="notice">お客様へのお願い</h2>
      <li class="list-item">サービス内容と価格は予告無く変更する場合がございます。</li>
      <li class="list-item">電気・ガス・水道・洗浄スペースをお借りいたします、ご了承下さい。</li>
      <li class="list-item">汚れの状況により、完全に除去できない場合がございます。</li>
      <li class="list-item">作業箇所にトラブルがある場合は作業を承られない事もあります。</li>
      <li class="list-item">専用の道具や洗剤を使用いたします。設備の劣化等で塗装が剥がれてしまう場合がありますご容赦下さい。</li>
      <li class="list-item">ご希望日時が直前の場合は対応が厳しい事もあります。余裕をもってご予約下さい。</li>
      <li class="list-item">ご予約が集中し、ご希望の日時に伺えない場合もございます。複数候補頂けると幸いです。</li>
      <li class="list-item">作業日当日以降のキャンセルはサービス料金の100%請求致します。</li>
      <li class="list-item">前日以降でも材料発注の際はご負担願います。</li>
      <li class="list-item">他にもご要望がございましたら、可能な範囲でお受け致します。</li>
  </div>
