<h1 class="work-user-show">一部屋のお掃除</h1>
  <div class="work-user-show-container">
    <div class="show-container">
      <div class="show-image">
        <%= image_tag "show_room1.jpg" %>
          <div class="note">
            <p>写真はイメージです。</p>
          </div>
      </div>
      <div class="charge">
        <p class="main-price">価格</p>
        <p class="price-bord-6"><span class="mgr-10">6畳以下</span>¥ 12,000&ensp;(税抜)&emsp;</p>
        <p class="price-bord-8"><span class="mgr-10">8畳以上</span>¥ 15,000&ensp;(税抜)&emsp;</p>
        <div class="btn-work8-cart">
          <%= link_to "お見積りページへ", items_path, class: "btn-gradient-radius" %>
        </div>
        <h2 class="ribbon">主な作業内容</h2>
        <ul>
          <li class="indent"><i class="far fa-check-square"></i>&nbsp;	床の清掃（フローリング、板張り、畳）</li>
          <li class="indent"><i class="far fa-check-square"></i>&nbsp;	机・椅子のクリーニング、片付け</li>
          <li class="indent"><i class="far fa-check-square"></i>&nbsp; 窓ガラスの清掃はオプションとなります。</li>
          <li class="indent"><i class="far fa-check-square"></i>&nbsp; 壁紙の清掃は行っておりません。</li>
        </ul>
      </div>
    </div>
  <h2 class="menue">オプションメニュー</h2>
    <div class="option"> 
      <div class="name-box">
        <p class="box-title">窓ガラスクリーニング（内側のみ）</p>
        <hr class="title-bottom">
        <p class="price">価格</p>
        <p class="price-bord">¥ 5,000&ensp;(税抜)&emsp;/&ensp;1式
        <p class="price-comment">窓ガラスの内側、雨戸、網戸の汚れを落とします。</p>
      </div>
      <div class="name-box">
        <p class="box-title">エアコンクリーニング</p>
        <hr class="title-bottom">
        <p class="price">価格</p>
        <p class="price-bord">¥ 8,000&ensp;(税抜)&emsp;/&ensp;1台
        <p class="price-comment">外側カバーのクリーニンング、フィルターの清掃。（内部クリーニングは行っておりません）</p>
      </div>
      <div class="name-box">
        <p class="box-title">ーーーーーーー</p>
        <hr class="title-bottom">
        <p class="price">価格</p>
        <p class="price-bord">¥ 0,000&ensp;(税抜)&emsp;/&ensp;1式
        <p class="price-comment"></p>
      </div>
    </div>
    <h2 class="notice">お客様へのお願い</h2>
      <li class="list-item">サービス内容と価格は予告無く変更する場合がございます。</li>
      <li class="list-item">電気・ガス・水道・洗浄スペースをお借りいたします、ご了承下さい。</li>
      <li class="list-item">汚れの状況により、完全に除去できない場合がございます。</li>
      <li class="list-item">作業箇所にトラブルがある場合は作業を承られない事もあります。</li>
      <li class="list-item">専用の道具や洗剤を使用いたします。設備の劣化等で塗装が剥がれてしまう場合がありますご容赦下さい。</li>
      <li class="list-item">ご希望日時が直前の場合は対応が厳しい事もあります。余裕をもってご予約下さい。</li>
      <li class="list-item">ご予約が集中し、ご希望の日時に伺えない場合もございます。複数候補頂けると幸いです。</li>
      <li class="list-item">作業日当日以降のキャンセルはサービス料金の100%請求致します。</li>
      <li class="list-item">前日以降でも材料発注の際はご負担願います。</li>
      <li class="list-item">他にもご要望がございましたら、可能な範囲でお受け致します。</li>
    <div class="btn-work-user">
      <span style="color: #f67280;"><p>（&nbsp;こちらパソコン専用のWebサイトとなりますのでご注意下さい。）</p></span>
    </div>
  </div>

  <%
=begin%>
 <h1 class="work-user-show">お部屋まるごとお掃除</h1>
  <div class="work-user-one-room-container">
    <div class="show-container">
      <div class="show-image">
        <%= image_tag "one_room_cargo.jpg" %>
          <p class="cargo_in_out">※&nbsp;荷物がある状態</p>
            <div class="note">
              <p>写真はイメージです。</p>
            </div>
        <%= image_tag "one_room.jpg" %>
          <p class="cargo_in_out">※&nbsp;荷物が無い状態</p>
            <div class="note">
              <p>写真はイメージです。</p>
            </div>
      </div>
      <div class="charge-one-room">
        <p class="main-price">価格</p>
        <h2 class="cargo">荷物がある状態</h2>
        <p class="price-bord-one-room"><span class="mgr-10">マンション・アパート1K/1DK</span>¥ 32,000&ensp;(税抜)&emsp;</p>
        <p class="price-bord-one-room"><span class="mgr-10">マンション・アパート1LDK/2DK</span>¥ 42,000&ensp;(税抜)&emsp;</p>
        <p class="price-bord-one-room"><span class="mgr-10">マンション・アパート2LDK/3DK</span>¥ 52,000&ensp;(税抜)&emsp;</p>
        <p class="price-bord-one-room"><span class="mgr-10">マンション・アパート3LDK/4DK</span>¥ 62,000&ensp;(税抜)&emsp;</p>
        <p class="price-bord-one-room"><span class="mgr-10">マンション・アパート4LDK/5DK</span>¥ 72,000&ensp;(税抜)&emsp;</p>
        <p class="price-bord-one-room"><span class="mgr-10">一戸建て2LDK/3DK</span>¥ 62,000&ensp;(税抜)&emsp;</p>
        <p class="price-bord-one-room"><span class="mgr-10">一戸建て3LDK/4DK</span>¥ 72,000&ensp;(税抜)&emsp;</p>
        <p class="price-bord-one-room"><span class="mgr-10">一戸建て4LDK/5DK</span>¥ 82,000&ensp;(税抜)&emsp;</p>
        <h2 class="non-cargo">荷物が無い状態</h2>
        <p class="price-bord-one-room"><span class="mgr-10">マンション・アパート1K/1DK</span>¥ 22,000&ensp;(税抜)&emsp;</p>
        <p class="price-bord-one-room"><span class="mgr-10">マンション・アパート1LDK/2DK</span>¥ 32,000&ensp;(税抜)&emsp;</p>
        <p class="price-bord-one-room"><span class="mgr-10">マンション・アパート2LDK/3DK</span>¥ 42,000&ensp;(税抜)&emsp;</p>
        <p class="price-bord-one-room"><span class="mgr-10">マンション・アパート3LDK/4DK</span>¥ 52,000&ensp;(税抜)&emsp;</p>
        <p class="price-bord-one-room"><span class="mgr-10">マンション・アパート4LDK/5DK</span>¥ 62,000&ensp;(税抜)&emsp;</p>
        <p class="price-bord-one-room"><span class="mgr-10">一戸建て2LDK/3DK</span>¥ 52,000&ensp;(税抜)&emsp;</p>
        <p class="price-bord-one-room"><span class="mgr-10">一戸建て3LDK/4DK</span>¥ 62,000&ensp;(税抜)&emsp;</p>
        <p class="price-bord-one-room"><span class="mgr-10">一戸建て4LDK/5DK</span>¥ 72,000&ensp;(税抜)&emsp;</p>
        <h2 class="ribbon">主な作業内容</h2>
        <ul>
          <li class="indent"><i class="far fa-check-square"></i>&nbsp;	床の清掃（フローリング、畳の水拭き）</li>
          <li class="indent"><i class="far fa-check-square"></i>&nbsp;	壁紙の清掃（主に水拭き、頑固な汚れがある場合はオプションとなります。）</li>
          <li class="indent"><i class="far fa-check-square"></i>&nbsp; 窓ガラスの清掃（専用洗剤による清掃、頑固な汚れがある場合はオプションとなります。）</li>
          <li class="indent"><i class="far fa-check-square"></i>&nbsp; 家具がある場合は別途費用がかかります。お問い合わせください。</li>
        </ul>
      </div>
    </div>
    <h2 class="menue">オプションメニュー</h2>
    <div class="option"> 
      <div class="name-box">
        <p class="box-title">（例）フローリングワックス</p>
        <hr class="title-bottom">
        <p class="price">価格</p>
        <p class="price-bord">¥ 3,000&ensp;(税抜)&emsp;/&ensp;1帖
        <p class="price-comment">フロアクリーニングは汚れの除去、ワックス処理などを行い、美しい床をキープ。（引用）</p>
      </div>
      <div class="name-box">
        <p class="box-title">（例）ガラス、サッシクリーニング</p>
        <hr class="title-bottom">
        <p class="price">価格</p>
        <p class="price-bord">¥ 0,000&ensp;(税抜)&emsp;/&ensp;1式
        <p class="price-comment">ガラスに付いた手アカやヤニ、砂ボコリまでキレイにします。サッシの細かい汚れもお任せください。（引用）</p>
      </div>
      <div class="name-box">
        <p class="box-title">（例）壁紙クリーニング</p>
        <hr class="title-bottom">
        <p class="price">価格</p>
        <p class="price-bord">¥ 0,000&ensp;(税抜)&emsp;/&ensp;1式
        <p class="price-comment">ヤニ・手アカ、ホコリなどのしつこい汚れも、クリーニングで徹底除去できます。（引用）</p>
      </div>
    </div>
  </div> 
<%
=end%>
