<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h1 class="modal-title">作業予約件数</h1>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-8 col-md-offset-3">
           <% @reservation_month.zip(@reservation_num).each do |reservation_month, reservation_num| %>
             <table class="table table-bordered table-condensed">
               <thead>
               </thead>
               <tbody>
                 <tr><th colspan="2"><%= reservation_month %></th><td colspan="2"><%= reservation_num %></td></tr>
               </tbody>
             </table>
           <% end %>
        </div>
      </div>
    </div>
  </div>
</div>