<div class="modal-dialog modal-md modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h1 class="modal-title">作業予約件数</h1>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <table class="table table-bordered table-condensed">
            <thead>
              <tr>
                <th>月</th>
                <th>予約数</th>
              </tr>
            </thead>
            <tbody>
              <% @month_requests_counts.each do |k, v| %>
                <tr>
                  <td><%= l(k, format: :middle2) %></td>
                  <td><%= v %>件</td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>