<h1>作業予約状況</h1>

<div class= 'calender'>
            <%= month_calendar phone_reservations: @phone_reservations do |date| %>
                <%= date.day %></br>
                <%= link_to "◯◯件", edit_reservation_status_user_path, remote: true %>

            <% end %>
</div>

<div id="edit-reservation-status" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>