// Place all the styles related to the carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.quantity-index {
  float: right;
  margin-right: 120px;
  margin-bottom: 10px;
}
.quantity-total {
  background-color: #ffe2e2 !important;
}
.cart-delete {
  margin-top: 10px;
}
.cart-empty {
  font-size: 20px;
  display: inline-block;
  background-color: #f38181;
  width: 400px;
  height: 30px;
  text-align: center;
  border-radius: 20px;
}