@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 65px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-family: 'Hiragino Maru Gothic Pro','ヒラギノ丸ゴ Pro W4', sans-serif;
  text-shadow: 0 0 15px #FF6694;
  font-size: 2.8em;
  color: #3399FF;
  letter-spacing: 1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #3366FF;
  text-decoration: none;
}

.navbar-right li {
  font-size: 17px;
  letter-spacing: -1px;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  margin-left: 25px;
  margin-top: 25px;
}

.navbar-right a {
  color: #000;  
}
.navbar-right a:hover {
  text-decoration: none;
  color: #c0c0c0;
}

.youtube-red{color: #Ff0000}
.fa-home{color:#8d4e4e}
.fa-broom{color:#550000}
.line-green{color: #00B900}
.fa-shipping-fast{color: #3366FF}