@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 65px;
}

#calendar {
  padding-top: 100px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

ul {
  list-style: none;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-family: 'Hiragino Maru Gothic Pro','ヒラギノ丸ゴ Pro W4', sans-serif;
  text-shadow: 0 0 15px #FF6694;
  font-size: 2.8em;
  color: #3399FF;
  letter-spacing: 1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #3366FF;
  text-decoration: none;
}

.navbar-right li {
  font-size: 17px;
  letter-spacing: -1px;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  margin-left: 10px;
  margin-top: 25px;
}

.navbar-right a {
  color: #000;
  display: inline-block;
	transition: all .3s ease 0s;
	text-decoration: none;
}
.navbar-right a:hover {
  text-decoration: none;
  color: #808080;
  cursor: pointer;
}

.youtube-red{color: #Ff0000;}
.fa-home{color:#8d4e4e;}
.fa-broom{color:#550000;}
.line-green{color: #00B900;}
.fa-car-side{color: #5D99FF;}
.fa-user-circle{color: #808080;}
.fa-list-alt {color: orange;}
.fa-comments{color: #ffb6b9;}

.dropdown-menu li {
  margin-top: 10px;
  margin-left: 15px;
}

.dropdown-menu li a {
  font-size: 16px;
  letter-spacing: -1px;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  position: relative;
}
.dropdown-menu li a::after {
  position: absolute;
	content: '';
	bottom: .2em;
	left: 0;
	width: 100%;
	height: 1px;
	opacity: 0;
	background: #2196F3;
	transition: all .3s ease 0s;
}

.dropdown-menu li a:hover {
  text-decoration: none;
  background-color: #fff;
  color: #808080;
  cursor: pointer;
}
.dropdown-menu li a:hover::after {
  bottom: 0;
	opacity: 1;
}

//  トップ画面背景画像

.fluid-box{
  width: 100vw;
  position: relative;
  height: 80vh;
  background: url(curama.jpg) no-repeat center center;
  background-size: cover;
  left: 50%;
  transform: translateX(-50%);
  background-color:#fff;
  padding: 20px;
}

//  トップ画面アラート表示
.fluid-box-inner{
  font-size: 15px;
  color: #000;
}
.alert {
  width: 100vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin: 0px;
  padding: 10px;
  background-color: rgba(152, 251, 152, 0.3);
}
.alert-success {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #000
}
.alert-danger {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #FF0000
}

// センター帯

.center-band {
   width: 100vw;
   position: relative;
   height: 40px;
   left: 50%;
   transform: translateX(-50%);
   background: radial-gradient(#f59e79, #fc3538);
   text-align: center;
   font-size: 25px;
   color: #fff;
}

// 取り込み画像

.image {
   width: 296px;
   float: left;
   margin-right: 20px;
}
.image-youtube {
  width: 296px;
  // height: 250px;
  float: left;
   margin-right: 20px;
}
.image-tell {
  width: 292px;
  float: left;
   margin-right: 20px;
}

// 仮の説明文章背景(文章は後に編集フォームにて入力)

.service li {
  width: auto;
  height: 200px;
  background: radial-gradient(#EEFFFF, #fff);
  border: 1px solid #f00;
}

// 題目

.subject h3 {
  margin-top: 30px;
  margin-bottom: 0px;
  font-size: 25px;
  font-weight: bold;
  color: #2C7CFF;
  text-shadow: 2px 2px #fff, 5px 5px rgba(0, 188, 212, 0.4);
  width: auto;
  padding: 10px;
  display: inline-block;
}

// 仕切り水平ライン

.bar {
  width: 100vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 50px;
  margin-bottom: 0px;
  height: 1px;
  background-color: #3366FF;
}

// リンクボタン

.btn-gradient-3d-simple {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  border-radius: 4px;
  color: #ffffff;
  background-image: linear-gradient(#6795fd 0%, #67ceff 100%);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #5e7fca;
}
.btn-gradient-3d-simple:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}
.subject-right {
  text-align: right;
}
.sinup {
  margin-top: 10px;
}

// フッター

.footer-logo {
  position: relative;
  display: inline-block;
  padding: 0 55px;
  font-size: 30px;
  margin-left: 40px;
}

.footer-logo:before, .footer-logo:after {
  content: '';
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 45px;
  height: 2px;
  border-top: solid 1px #fff;
  border-bottom: solid 1px #fff;
}

.footer-logo:before {
  left:0;
}
.footer-logo:after {
  right: 0;
}
.footer-item p {
  margin-bottom: 0px;
}
.footer-tel p {
  font-size: 25px;
  margin-left: 10px;
}

.footer {
  background-color: #808080;
  width: 100vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 50px;
  border-top: 1px solid #000;
}
.footer-base {
  margin-left: 200px;
  color: #fff;
}

/* debug */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}
