@import "bootstrap";

.container-devise {
  margin-top: 50px;
  background-color: #dbe2ef;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left:230px;
}
.jumbotron-devise {
  width: 700px;
}  
.login-password {
  font-size: 17px;
  color: #3f72af;
}
.login-acount {
  font-size: 17px;
  color: #3f72af;
}