// Place all the styles related to the phone_reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.calendar {
  padding-top: 20px;
}

.botton2{
  text-align:center;
  margin: 100px 10px 10px 10px;
  }
  
.hyou {
  margin: 0;
  font-size: 1.8rem;
  background-color: white;
}

.hyou th{
  width: 7.9%;
}

.zikan {
  width: 8.1%;
  float: left;
  font-size: 1.8rem;
}

.zikann {
  width: 84%;
  float: left;
  font-size: 1.8rem;
}

.zikann td {
  text-align: center;
  vertical-align: middle;
  background-color: #FFF;
}
.zikann td:hover {
  background-color: #ffe2e2;
}

.hyou tr th {
  text-align: center;
  vertical-align: middle;
  width: 50px;
  background-color: #fff;
}

.mark {
  padding: 0;
  background-color: rgba(0,0,0,0);
  font-size: 1.8rem;
  color: red;
}
.mark:hover {
  color: red;
  text-decoration: none;
  background-color: #ffe2e2;
}

.zikan tr td {
  text-align: center;
  background-color: #f4f3f3;
}

.week {
  font-size: 1.4rem;
}

.week-prev:hover {
  text-decoration: none;
}

.week-next:hover {
  text-decoration: none;
}

.modal-title {
  font-size: 30px;
}

.modal-footer {
  text-align: center;
}

.must {
  background-color: rgba(255,0,0,0.4);
  padding: 1px;
  border-radius: 10%;
}

.days {
  font-weight: normal;
  text-align: center;
  height: 30px;
}
.days-day {
  margin: 0;
  font-weight: bold;
}
.times {
  font-weight: normal;
  text-align: center;
  margin-top: 20px;
}
.times-time {
  margin: 0;
  font-weight: bold;
}

.reservation-btn {
  background-color: none;
  background-color: #5D99FF;
  border-radius: 3px;
  border: 1px solid #4689FF;
  height: 32px;
}
.reservation-btn:hover {
  background-color: #75A9FF;
  border: 1px solid #4689FF;
}
.reservation-btn:focus {
  outline: 0;
}

.btn-secondary {
  border: 1px solid #C0C0C0
}

.phone-reservation-notice {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  color: #364f6b;
  margin-top: 20px;
}

.center {
  border: solid 1px;
  border-radius: 8px;
  letter-spacing: 0.1em;
  background-color: #E1E6EC;
  background-image: -webkit-linear-gradient(top, #E1E6EC 2%, #F0F4F7 96%), -webkit-radial-gradient(at 50% 100%, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.5) 200%);
  background-image: linear-gradient(-180deg, #E1E6EC 2%, #F0F4F7 96%), radial-gradient(at 50% 100%, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.5) 200%);
  background-blend-mode: normal, color-burn;
}

.line-icon {
  margin-bottom: 20px;
}
.line-reservation {
  letter-spacing: 0.1em;
}

.line-tell-free {
  letter-spacing: 0.1em;
  color: #f9f7f7;
  padding-top: 10px;
  margin-top: 30px;
  height: 56px;
  background-color: #f67280;
}