.botton2{
  text-align:center;
  margin: 100px 10px 10px 10px;
  }

.video{
  text-align:center;
  }
  .iframe{
  width:100%
  }

.botton{
  text-align:right;
  }

.title {
  margin-top:30px;
p {
  font-size: 2em;
}
}

.label-signup {
  margin-top: 5px;
}

.btn-signup {
  margin-top: 10px;
}

  