.botton2{
  text-align:center;
  }

.video{
  text-align:center;
  }
  .iframe{
  width:100%
  }

.botton{
  text-align:right;
  }

p {
  font-size: 2em;
}

.label-signup {
  margin-top: 5px;
}

.btn-signup {
  margin-top: 10px;
}

  